git config --global credential.helper osxkeychain

[advice]
  detachedHead = false
  statusHints = false

[alias]
  discard = reset --hard HEAD
  ch = checkout
  sign = commit -S -m
  signtag = 'tag -s -m ""'
  d = diff
  graph = log --graph
  last = log -n 10
  whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
  rmtag = "!sh -c 'git tag -d $1; git push origin :refs/tags/$1'"
  release   = !sh "$HOME/.config/git/git-extras/git-release.sh"
  sign-release   = !sh "$HOME/.config/git/git-extras/git-sign-release.sh"
  setup     = !zsh "$HOME/.config/git/git-extras/git-setup.sh"
  summary   = !zsh "$HOME/.config/git/git-extras/git-summary.sh"
  pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1; } ; f"
  cleanup = !ruby "$HOME/.config/git/git-extras/git-cleanup.rb"

[branch]
  autoSetupRebase = always

[commit]
  gpgsign = true
  template = ~/.config/git/commit_message.txt

[core]
  abbrev = 12
  editor = "$EDITOR --wait"
  hooksPath = ~/.config/git/hooks
  pager = delta  # diff-so-fancy | less --tabs=4 -RFX
  quotePath = false
  untrackedCache = true
  excludesfile = ~/.gitignore
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
  pager = true
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  commit = 227 bold
  # commit = yellow bold
  frag = magenta bold
  meta = 227
  #meta = 11
  new = green bold
  old = red bold
  whitespace = red reverse
[color "diff-highlight"]
  newHighlight = green bold 22
  newNormal = green bold
  oldHighlight = red bold 52
  oldNormal = red bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[credential]
  helper = cache --timeout=3600

[delta]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  hunk-header-decoration-style = yellow box
  line-numbers = true
  minus-color = "#340001"
  plus-color = "#012800"
  side-by-side = true
  whitespace-error-style = 22 reverse

[diff]
  algorithm = histogram
  colorMoved = default
  indentHeuristic = true
  mnemonicPrefix = true
  renames = copies
  tool = Kaleidoscope
[diff "exif"]
  textconv = exiftool
[difftool]
  prompt = false
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[feature]
  experimental = true

[fetch]
  prune = true
  pruneTags = true
  writeCommitGraph = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(bold yellow)%GK%Creset
  graph = true

[github]
  user = <redacted>
  token = <redacted>

[grep]
  column = true
  fullname = true
  lineNumber = true
  threads = 3

[init]
  defaultBranch = main
  templateDir = ~/.config/git/template

[interactive]
  diffFilter = delta --color-only
  singleKey =

[log]
  abbrevCommit = true

[maintenance]
  auto = false
  strategy = incremental

[merge]
	#conflictstyle = diff3
  conflictStyle = zdiff3
  ff = only
  tool = Kaleidoscope

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[pack]
  writeReverseIndex = true

[pull]
  #rebase = true
  rebase = merges

[push]
  default = simple
  followTags = true
  useForceIfIncludes = true

[rebase]
  abbreviateCommands = true
  autoSquash = true
  autoStash = true

[remote "origin"]
  fetch = +refs/pull/*/head:refs/remotes/pull_requests/*

[rerere]
  autoUpdate = true
  enabled = true

[status]
  showUntrackedFiles = all

[tag]
  gpgSign = true
  sort = version:refname

[transfer]
  fsckObjects = true

[url "https://github.com/"]
  insteadOf = gh:

[url "https://github.com/johnpatrickroach/"]
  insteadOf = jpr:

[url "https://git.heroku.com"]
  insteadOf = heroku:

[user]
  email = <redacted>
  name = <redacted>
  signingKey = <redacted>
  useConfigOnly = true

[includeIf "gitdir:~/Engineering/Companies/Example/"]
  path = ~/.config/git/profiles/example
